/* animations.css  */

@keyframes slide-in {
	from { transform: translateX(-100%); }
	to { transform: translateX(0%); }
}

@keyframes turn-up-dimmer {
	from { filter: drop-shadow(0, 0, 0, white); }
	to { filter: drop-shadow(0, 0, 10px, white); }
}

@keyframes zoom-out {
	from { 
		transform: scale(10, 10) translate(-25%, -25%);	
	}
	to {
		transform: scale(1, 1) translate(-50%, -50%);
	}
}

@keyframes delayed-fade-in {
	0% { opacity: 0; }
	50% { opacity: 0; }
	100% { opacity: 100; }
}

@keyframes fade-in {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes fade-out {
	from { opacity: 1; }
	to { opacity: 0; }
}

@keyframes floating {
	0% { transform: translate(0, 0); }
	25% { transform: translate(10%, 15%); }
	50% { transform: translate(15%, 5%); }
	75% { transform: translate(10%, -5%); }
	100% { transform: translate(0, 0); }
}

@keyframes floating-tombs-2 {
	0% { transform: translate(0, 0); }
	0% { transform: translate(5%, -10%); }
	0% { transform: translate(10%, 0); }
	0% { transform: translate(5%, 10%); }
	100% { transform: translate(0, 0); }
}
