/* AboutUs.css */

/* vvv START Mobile width vvv */

/* ^^^ END Mobile width ^^^ */

/* vvv START Tablet width vvv 
@media (min-width: 576px) {

}
 ^^^ END Tablet width ^^^ */

/* vvv START Desktop width vvv */
@media (min-width: 768px) {

.aboutusDiv {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  display: flex;
}

.notSelected {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.aboutusPage {
  flex: 1;
  min-width: 0;
  min-height: 0;

  display: grid;
  grid-template-areas:
    "header nav"
    "disp nav"
    "footer nav";

  grid-template-columns: minmax(0, 10fr) minmax(0, 3fr);
  grid-template-rows: 0.5fr 6fr 0.5fr;

  width: 100%;
  height: calc(100% - 10px);
  gap: 20px;
  padding: 10px;

  .aboutusHeader,
  .aboutusDispContainer,
  .aboutusFooter,
  .aboutusNav {
    min-width: 0;
  }

  .aboutusHeader {
    grid-area: header;
    display: flex;
    justify-content: center;
    border: 3px solid white;
  }

  .aboutusNav {
    grid-area: nav;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 3px solid white;
  }

  .aboutusDispContainer {
    grid-area: disp;
    overflow: scroll;
    display: flex;
  }

  .aboutusDisp {
    display: flex;
    align-items: center;

    .img {
      float: left;
      max-width: 50%;
      max-height: 70%;
      width: auto;
      height: auto;
      padding: 10px;
      border: 3px solid white;
      border-radius: 10px; 
    }

    .bio {
      padding-left: 20px;
    }

  }

  .aboutusFooter {
    grid-area: footer;
  }

  .member {
    font-size: 40px;
  }

  .back {
    position: absolute;
    float: left;
  }

}

}
/* ^^^ END Desktop width ^^^ */
