/* AboutUs.css */

/* vvv START Mobile width vvv */

/* ^^^ END Mobile width ^^^ */

/* vvv START Tablet width vvv 
@media (min-width: 576px) {

}
 ^^^ END Tablet width ^^^ */

/* vvv START Desktop width vvv */
@media (min-width: 768px) {

.aboutusDiv {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  display: flex;
}

.notSelected {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.aboutusPage {
  flex: 1;
  min-width: 0;
  min-height: 0;

  display: grid;
  grid-template-areas:
    "header nav"
    "disp nav"
    "footer nav";

  grid-template-columns: minmax(0, 10fr) minmax(0, 3fr);
  grid-template-rows: 1fr 5fr 1fr;

  width: 100%;
  height: calc(100% - 10px);
  gap: 20px;
  padding: 10px;

  .aboutusHeader,
  .aboutusDispContainer,
  .aboutusFooter,
  .aboutusNav {
    min-width: 0;
  }

  .aboutusHeader {
    grid-area: header;
  }

  .aboutusNav {
    grid-area: nav;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-left: 3px solid white;
    border-right: 3px solid white;
  }

  .aboutusDispContainer {
    grid-area: disp;
  }

  .aboutusFooter {
    grid-area: footer;
  }

}

}
/* ^^^ END Desktop width ^^^ */
