/* Home.css */

.homeContainer {
}

/* vvv START Mobile width vvv */

/* ^^^ END Mobile width ^^^ */

/* vvv START Tablet width vvv */
@media (min-width: 576px) {

}
/* ^^^ END Tablet width ^^^ */

/* vvv START Desktop width vvv */
@media (min-width: 768px) {
  border: 3px solid pink;
}
/* ^^^ END Desktop width ^^^ */
