/* Issues.css */

/* vvv START Mobile width vvv */

/* ^^^ END Mobile width ^^^ */

/* vvv START Tablet width vvv 
@media (min-width: 576px) {

}
 ^^^ END Tablet width ^^^ */

/* vvv START Desktop width vvv */
@media (min-width: 768px) {

.issuesDiv {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  display: flex;
}

.notSelected {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.issuesPage {
  flex: 1;
  min-width: 0;
  min-height: 0;

  display: grid;
  grid-template-areas:
    "disp nav";

  grid-template-columns: minmax(0, 10fr) minmax(0, 3fr);

  width: 100%;
  height: calc(100% - 40px);
  padding: 20px;
  gap: 20px;

  .issuesDispContainer,
  .issuesNav {
    min-width: 0;
  }

  .issuesNav {
    grid-area: nav;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-left: 3px solid white;
    border-right: 3px solid white;
  }

  .issuesDispContainer {
    grid-area: disp;
    display: flex;
    align-items: stretch;
    justify-content: center;
    align-items: center;
    min-height: 0;
    overflow: hidden;

    .issuesDispWrapper {

      position: relative;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-left: 3px solid pink;
      border-right: 3px solid pink;
      padding: 10px;

      .issuesDisp {
        height: calc(100% - 20px);
        width: auto;
        object-fit: contain;
        flex-shrink: 0;
        display: block;
        border: 3px solid white;
        padding: 10px;
      }

      .dispButton {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        background: rgba(0,0,0,0.2);
        color: rgba(0,0,0,0.3);
        border: none;
        padding: 10px 14px;
        cursor: pointer;
        font-size: 24px;

        border-radius: 6px;
        user-select: none;
      }

      .dispButton.left {
        left: 20px;
      }

      .dispButton.right {
        right: 20px;
      }

      .dispButton:hover {
        background: rgba(0,0,0,0.7);
        color: black;
      }

      .issuesFooter {
        position: absolute;
        bottom: 0;
        color: transparent;
        font-size: 2rem;
      }

      .issuesFooter:hover {
        color: white;
        text-shadow: 0 0 10px black, 2px 2px 0 grey;
        background: rgba(0,0,0,0.7);
      }


    }

  }

}

}
/* ^^^ END Desktop width ^^^ */
