/* Issues.css */

.issueViewer {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas:
    "issueContainer rNav"
    "issuesFooter rNav";
  grid-template-columns: 19fr 5fr;
  grid-template-rows: auto auto;
  gap: 20px;
}

.issueViewer .issueData {
  grid-area: data;
}

.issueViewer .issuesNav {
  grid-area: rNav;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .issuesList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.issueViewer .issueContainer {
  grid-area: issueContainer;
  display: flex;
  justify-content: center;
  height: inherit;
  
  .issueDisplay {
    padding: 10px;
    border-radius: 10px;
    border: 3px solid pink;
    height: calc(100vh - 220px);
  }

}

.issueViewer .issuesFooter {
  grid-area: issuesFooter;
  display: flex;
  justify-content: center;
  flex-direction: row;
  .larrow {
    float: left;
  }
  .rarrow {
    float: right;
  }
}

/* vvv START Mobile width vvv */

/* ^^^ END Mobile width ^^^ */

/* vvv START Tablet width vvv */
@media (min-width: 576px) {

}
/* ^^^ END Tablet width ^^^ */

/* vvv START Desktop width vvv */
@media (min-width: 768px) {

}
/* ^^^ END Desktop width ^^^ */
