.logoButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: 3px solid pink;
  aspect-ratio: 1;
  width: 100%;
}

.logoImage {
  filter: drop-shadow(0 0 1px pink);
  width: 100%;

}
