/* Logo.css */

.logoButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  aspect-ratio: 1;
}

.logoImage {
  filter: drop-shadow(0 0 100px white);
  width: 100%;
}
