/* NavBar.css */

.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.logoButton {
}

.logoNavLink {
}

.issuesButton {
}

.issuesNavLink {
}

.aboutusButton {

}

.aboutusNavLink {
}

.contactButton {
}

.contactNavLink {
}

/* vvv START Mobile width vvv */

/* ^^^ END Mobile width ^^^ */

/* vvv START Tablet width vvv 
 *  min width: 576px
 * */
@media (min-width: 576px) {

}
/* ^^^ END Tablet width ^^^ */

/* vvv START Desktop width vvv 
 *  min width: 768px
 * */
@media (min-width: 768px) {
  .navBar {
    width: 100%;
    height: 100%;
  }

  .navBar .home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .navBar .issues, .navBar .aboutus, .navBar .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .rNavBar {
    width: 100%;
    height: 100%;
  }

  .rNavBar .issues, .rNavBar .aboutus, .rNavBar .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .logoButton {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logoNavLink.active button,
  .issuesNavLink.active button,
  .aboutusNavLink.active button,
  .contactNavLink.active button {
    font-weight: bold;
    text-decoration: underline;
  }

  .issuesButton {
  }

  .issuesNavLink {
  }

  .aboutusButton {
  }

  .aboutusNavLink {
  }

  .contactButton {
  }

  .contactNavLink {
  }


}
/* ^^^ END Desktop width ^^^ */
