@import "./styles/colors.css";
@import "./styles/animations.css";

#root {
  display: flex;
  margin: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: var(--bg);
}

.pageContainer {
  display: grid;
  width: 100%;
  animation: fade-in 3s;
}

.navContainer {
  grid-area: navBar;  
}

.audioContainer {
  grid-area: audio;
}

.mainContainer {
  grid-area: main;
  animation: fade-in 3s;
}

/* vvv START Mobile width vvv */
.pageContainer {
  grid-template-areas:
    "navBar navBar navBar"
    "main main main"
    "main main main"
    "audio audio audio";
}

/* ^^^ END Mobile width ^^^ */

/* vvv START Tablet width vvv */
@media (min-width: 576px) {
}
/* ^^^ END Tablet width ^^^ */

/* vvv START Desktop width vvv */
@media (min-width: 768px) {

  .pageContainer {
    grid-template-areas:
      "navBar main"
      "navBar main"
      "navBar audio";

    grid-template-columns: 1fr 4fr;
    grid-template-rows: 4fr 1fr;

    gap: 20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: calc(100vh - 40px);
  }

  .navContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .audioContainer {
    display: flex;
    justify-content: center;
  }

  .audioContainer audio {
    width: 70%;
  }

  .mainContainer {
  }

}
/* ^^^ END Desktop width ^^^*/
