@import "./styles/colors.css";
@import "./styles/animations.css";

#root {
  display: flex;
  margin: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: var(--bg);
  width: 100%;
}

.pageContainer {
  display: grid;
  width: 100%;
  animation: fade-in 3s;
}

.navContainer {
  grid-area: navBar;  
}

.audioContainer {
  grid-area: audio;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainer {
  grid-area: pageArea;
  animation: fade-in 3s;
}

/* vvv START Mobile width vvv */
.pageContainer {
}

/* ^^^ END Mobile width ^^^ */

/* vvv START Tablet width vvv */
@media (min-width: 576px) {
}
/* ^^^ END Tablet width ^^^ */

/* vvv START Desktop width vvv */
@media (min-width: 768px) {

  .pageContainer {
    grid-template-areas:
      "main"
      "audio";

    grid-template-rows: 14fr 1fr;
    height: 100vh;
  }

  .home {
    grid-area: main;
    display: flex;

    .mainContainer {
      display: none;
    }
    .navContainer {
      width: 100%;
    }
  }

  .pageContainer .issues, .pageContainer .aboutus, .pageContainer .contact {
    display: grid;
    grid-template-areas:
      "navBar pageArea";
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    gap: 20px;

    width: calc(100% - 200px);
    height: calc(100% - 20px);
  }


  .navContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .audioContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .audioContainer audio {
    width: 70%;
    border: 3px solid white;
  }

  .mainContainer {
  }

}
/* ^^^ END Desktop width ^^^*/
