#root {
  display: flex;
  margin: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.pageContainer {
  display: grid;
  width: 100%;
}

.navContainer {
  grid-area: navBar;  
}

.audioContainer {
  grid-area: audio;
}

.mainContainer {
  grid-area: main;
}

/* vvv START Mobile width vvv */
.pageContainer {
  grid-template-areas:
    "navBar navBar navBar"
    "main main main"
    "main main main"
    "audio audio audio";
}

/* ^^^ END Mobile width ^^^ */

/* vvv START Tablet width vvv */
@media (min-width: 576px) {
}
/* ^^^ END Tablet width ^^^ */

/* vvv START Desktop width vvv */
@media (min-width: 768px) {

  .pageContainer {
    grid-template-areas:
      "navBar main"
      "navBar main"
      "navBar audio";

    grid-template-columns: 1fr 4fr;
    grid-template-rows: 4fr 1fr;

    gap: 10px;
    height: 100vh;
  }

  .navContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
  }

  .audioContainer {
    display: flex;
    justify-content: center;
    padding-right: 100px;
    padding-bottom: 100px;
  }

  .audioContainer audio {
    width: 70%;
  }

  .mainContainer {
    padding-right: 100px;
  }

}
/* ^^^ END Desktop width ^^^*/
