@import "./styles/colors.css";
@import "./styles/animations.css";

#root {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  margin: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: var(--bg);
}

.pageContainer {
  display: grid;
  width: 100%;
}

/* vvv START Mobile width vvv */
.pageContainer {
}

/* ^^^ END Mobile width ^^^ */

/* vvv START Tablet width vvv */
@media (min-width: 576px) {
}
/* ^^^ END Tablet width ^^^ */

/* vvv START Desktop width vvv */
@media (min-width: 768px) {

  .pageContainer {
    display: grid;
    grid-template-areas:
      "main"
      "footer";

    grid-template-rows: 23fr 1fr;
    grid-template-columns: 24fr;
    width: calc(100% - 200px);
    height: calc(100vh - 40px);

    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;

    gap: 20px;
  }
  
  .pageContainer .home {
    grid-area: main;
    display: flex;
    
    .mainContainer {
      display: none;
    }
    .navContainer {
      width: 100%;
    }
    .rNavBarContainer {
      display: none;
    }
  }

  .pageContainer .issues, .pageContainer .aboutus, .pageContainer .contact {
    display: grid;
    grid-area: main;
    grid-template-areas:
      "navBar pageArea";
    grid-template-columns: 4fr 20fr;
    grid-template-rows: 23fr;
    gap: 20px;

    width: 100%;
    height: 100%;

    .mainContainer {
      grid-area: pageArea;
      display: flex;
      height: 100%;
      width: 100%;
    }
    .navContainer {
      grid-area: navBar;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  }

  .footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
  }


}
/* ^^^ END Desktop width ^^^*/
