#root {
  display: flex;
  margin: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.pageContainer {
  display: grid;
  height: 100vh;
  width: 100%;
}

.navBar {
  
}

/* vvv START Mobile width vvv */

/* ^^^ END Mobile width ^^^ */

/* vvv START Tablet width vvv */
@media (min-width: 576px) {
}
/* ^^^ END Tablet width ^^^ */

/* vvv START Desktop width vvv */
@media (min-width: 768px) {

  .pageContainer {
    grid-template-columns: auto auto;
    grid-template-rows: auto;
  }

}
/* ^^^ END Desktop width ^^^*/
